In [1]:
import pandas as pd 
import os

In [8]:
# Read in csv file
csv=pd.read_csv(r'Disney Robinhood Data.csv')
csv

            timestamp  users_holding
0       5/2/2018 4:56          59936
1       5/2/2018 6:41          59936
2       5/3/2018 0:38          59950
3       5/3/2018 6:36          59950
4       5/3/2018 6:51          59950
...               ...            ...
14910  2/17/2020 4:50         218542
14911  2/17/2020 5:50         218542
14912  2/17/2020 6:50         218542
14913  2/17/2020 7:50         218542
14914  2/17/2020 8:50         218542

[14915 rows x 2 columns]